.body{
    color: rgb(255, 255, 255);
}

.headder {
    text-align: center;
    font-size: 20px;
    color: orange;
}

.description {
    text-align: center;
    font-size: large;
    color: orange;
}

.banner {
    /* Get the new background from Seepy */
    width: 100%;
    background-image: url(../img/title.png);
    height: 450px;
    background-position: center;
}

.html, body {
    font-family: sans-serif;
    background-color: aliceblue;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 5rem;
    background: linear-gradient(180deg, #6fb4fd 0%, #5caafc 100%);
}

.brand a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    margin-left: 3rem;
}

li > a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 500;
}


li::after {
    content: '';
    width: 0rem;
    height: 0.15rem;
    background-color: #fff;
    display: block;
    border-radius: 0.2rem;
    margin: 0.2rem auto 0 auto;
    transition: all 0.3s ease-in-out;
}

li:hover::after {
    width: 2rem;
}

.Available{
    text-align: center;
    color: black;
    font-family: fantasy;
   src: url(sansation_bold.woff);
   font-weight: bold;
    font-size: 100px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
}
    

.border{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border: 15px solid rgb(255, 255, 255);
}

.games {
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: arial;
    src: url(sansation_bold.woff);
    font-size: 75px;
    font-weight: 400;
}

.epic {
    float: right;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.epic {position: relative;}
.epic .download {
    position: absolute;
    bottom: 25%;
    right: 45%;
}

.download{
        background-color: black;
        border: none;
        color: white;
        padding: 12px 36px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}

.download:hover {
    background-color: #4CAF50;
}
